-@ val title: String
-@ val body: String

!!!
html(ng-app='invoice')
    head
        title Invoice Maker
        link(rel='stylesheet' type='text/css' href='/css/bootstrap.min.css')
        link(rel='stylesheet' type='text/css' href='/css/main.css')
    != body